<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Run on FIREFOX browser">
        <classes>
            <class name="webdriver.Topic_01_evironment"/>
        </classes>

    </test>
    <test name="Run on FIREFOX browser">
        <classes>
            <class name="Java_basic.Topic_06_BaiTap"/>
            <methods>
                <include name="">
                <include>
            </methods>
        </classes>

    </test>
</suite>